@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение почты";
}

@*<h1>@ViewData["Title"]</h1>*@
<p>
    Теперь Ваш аккаунт активен, можете <a id="confirm-link" href="~/Identity/Account/Login">войти</a>
</p>