@{
    ViewBag.Title = "Мои";
}

<div class="container">
    <div class="btn-group">
        <a href="~/Home/All?SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="btn btn-outline-secondary" role="button">Все</a>
        <a href="~/Home/My?SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="btn btn-outline-secondary active" role="button">Мои</a>
    </div>
    <div class="btn-group">
        <a href="~/Home/My?SortedBy=time&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.SortedBy == "time") { <text>active</text> }" role="button">Время</a>
        <a href="~/Home/My?SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.SortedBy == "views") { <text>active</text> }" role="button">Просмотры</a>
        <a href="~/Home/My?SortedBy=rating&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.SortedBy == "rating") { <text>active</text> }" role="button">Рейтинг</a>
    </div>
    <div class="btn-group">
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=day&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.Time == "day") { <text>active</text> }" role="button">День</a>
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=week&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.Time == "week") { <text>active</text> }" role="button">Неделя</a>
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=month&Pages=@ViewBag.Pages" class="btn btn-outline-secondary @if (ViewBag.Time == "month") { <text>active</text> }" role="button">Месяц</a>
    </div>
    <div class="btn-group">
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=@ViewBag.Time&Pages=25" class="btn btn-outline-secondary @if (ViewBag.Pages == 25) { <text>active</text> }" role="button">25</a>
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=@ViewBag.Time&Pages=50" class="btn btn-outline-secondary @if (ViewBag.Pages == 50) { <text>active</text> }" role="button">50</a>
        <a href="~/Home/My?SortedBy=@ViewBag.SortedBy&Time=@ViewBag.Time&Pages=100" class="btn btn-outline-secondary @if (ViewBag.Pages == 100) { <text>active</text> }" role="button">100</a>
    </div>
</div>

<div id="scrolList">
    @Html.Partial("_Articles")
</div>

<div id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>
