<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net48" />
  <package id="cef.redist.x64" version="81.3.10" targetFramework="net48" />
  <package id="cef.redist.x86" version="81.3.10" targetFramework="net48" />
  <package id="CefSharp.Common" version="81.3.100" targetFramework="net48" />
  <package id="CefSharp.OffScreen" version="81.3.100" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net48" />
  <package id="MySql.Data.Entity" version="6.10.9" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
</packages>