@model IEnumerable<MoonpaperLinux.Models.Article>
@{
    ViewData["Title"] = ViewBag.Tag + ". Moonpaper - агрератор новостей.";
}
    <nav class="menu">
        <div class="menu__left">
            <div class="menu__block">
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=time&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_left @if (ViewBag.SortedBy == "time") { <text>active</text> }">Время</a>
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_center @if (ViewBag.SortedBy == "views") { <text>active</text> }">Просмотры</a>
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=rating&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="menu__button menu__button_right @if (ViewBag.SortedBy == "rating") { <text>active</text> }">Рейтинг</a>
            </div>
            <div class="menu__block">
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=day&Pages=@ViewBag.Pages" class="menu__button menu__button_left @if (ViewBag.Time == "day") { <text>active</text> }">День</a>
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=week&Pages=@ViewBag.Pages" class="menu__button menu__button_center @if (ViewBag.Time == "week") { <text>active</text> }">Неделя</a>
                <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=month&Pages=@ViewBag.Pages" class="menu__button menu__button_right @if (ViewBag.Time == "month") { <text>active</text> }">Месяц</a>
            </div>
        </div>
        <div class="menu__right">
            <div class="menu__block menu__block_end">
                <button onclick="SetupToLine();" class="menu__button  menu__button_left active">
                    <img src="~/img/icons/i_menu_lines.png" alt="" class="icon">
                </button>
                <button onclick="SetupToGrid();" class="menu__button menu__button_right">
                    <img src="~/img/icons/i_menu_grid.png" alt="" class="icon">
                </button>
            </div>
        </div>
    </nav>
<nav class="menu-mobile">
    <div class="hidden">
        <div class="dropdown">
            @if (ViewBag.SortedBy == "time")
            {
                <a class="dropdown__btn top">Время</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn">Просмотры</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=rating&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Рейтинг</a>
                </div>
            }
            @if (ViewBag.SortedBy == "views")
            {
                <a class="dropdown__btn top">Просмотры</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=time&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn">Время</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=rating&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Рейтинг</a>
                </div>
            }
            @if (ViewBag.SortedBy == "rating")
            {
                <a class="dropdown__btn top">Рейтинг</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=time&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn">Время</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=views&Time=@ViewBag.Time&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Просмотры</a>
                </div>
            }
        </div>
        <div class="dropdown">
            @if (ViewBag.Time == "day")
            {
                <a class="dropdown__btn top">День</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=week&Pages=@ViewBag.Pages" class="dropdown__btn">Неделя</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=month&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Месяц</a>
                </div>
            }
            @if (ViewBag.Time == "week")
            {
                <a class="dropdown__btn top">Неделя</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=day&Pages=@ViewBag.Pages" class="dropdown__btn">День</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=month&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Месяц</a>
                </div>
            }
            @if (ViewBag.Time == "month")
            {
                <a class="dropdown__btn top">Месяц</a>
                <div class="dropdown__content">
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=day&Pages=@ViewBag.Pages" class="dropdown__btn">День</a>
                    <a href="~/Home/Tag?Tag=@ViewBag.Tag&SortedBy=@ViewBag.SortedBy&Time=week&Pages=@ViewBag.Pages" class="dropdown__btn bottom">Неделя</a>
                </div>
            }
        </div>
        <div class="dropdown">
            <button onclick="SetupToGrid();" class="dropdown__btn view-switch">
                <img src="~/img/icons/i_menu_grid.png" alt="" class="icon">
            </button>
        </div>
    </div>
</nav>
<div class="TagName_block">
    <h1>Новости и статьи на тему: @ViewBag.Tag</h1>
</div>
<div class="block_line" id="scrolList">
    <partial name="_Articles" />
</div>
<div class="spinner" id="loading"><img src='@Url.Content("~/Content/loading_spinner.gif")'></div>