@using Microsoft.AspNetCore.Identity
@using Moonpaper.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="side-menu__item">
        <a class="link" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет, @UserManager.GetUserName(User)</a>
    </div>
    <div class="side-menu__item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="link">Выйти</button>
        </form>
    </div>
}
else
{
    <div class="side-menu__item">
        <a class="link" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </div>
    <div class="side-menu__item">
        <a class="link" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    </div>
}
